*{
    margin: 0;
    font-family: sans-serif;
}
.lgo img {
    height: auto;
    width: 30%;
}
.allli li {
    list-style: none;
    display: grid;
    column-gap: 30px;
    margin: -60px 0px 0px 300px;
}
.bgimg {
    background-image: url('Images/bg.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -85px;
}