*{
    margin: 0;
    font-family: sans-serif;
}
header {
    background-image: url('Images/bg.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.lgo img {
    height: auto;
    width: 30%;
}
.allli li {
    list-style: none;
    display: grid;
    column-gap: 30px;
    margin: -60px 0px 0px 300px;
}
.nav-link {
    background: -webkit-linear-gradient(#f36de3, #3c0665);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textera {
    padding-top: 120px;
}
.textera h4 {
    background: -webkit-linear-gradient(#f36de3, #51058c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textera p {
    width: 40%;
    color: #a8a7a7;
}
.textera button {
    border: none;
    padding: 5px 20px;
    border-radius: 12px;
    color: rgb(228, 241, 255);
    background: linear-gradient(to top right, #51058c 30%,  #f36de3 100%);
}
.hhr {
    color: #a8a7a7;
}